* {
    box-sizing: border-box;
    margin: 0;
}

* {
    /*--clr-header: rgb(17, 124, 150);*/
    --clr-header: rgb(49, 82, 87);    
    --clr-side-menu: rgb(70, 19, 131);
    --clr-buttons: rgb(46, 65, 181);
    --clr-background: rgb(214, 214, 214);
    --clr-light-background: rgb(240, 240, 240);
    --clr-highlight-background: rgb(238, 194, 224);
    --clr-highlight-object: rgb(243, 52, 186);  
}

/*Text styles*/
h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 2rem
}

h1 {
    color: #000000;
}

label {
    color: #000000;
}

/*Form styles*/

.div-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.div-form h1 {
    text-align: center;
    margin-top: 2rem;
}

.div-form section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #dddddd;
    padding: 1rem;
    padding-top: 2rem;
}

.form-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.form-field {
    display: block;
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 200px;
    /*background-color: yellow;*/
}

.form-field-double {
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;    
}

.form-field-triple {
    width: 75%;
    padding-left: 1rem;
    padding-right: 1rem;      
}

.form-field-full-line {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;      
}

.form-field-half {
    width: 12.5%;
    padding-left: 1rem;
    padding-right: 1rem;      
}

.div-form label {
    display: block;    
}


.div-form input {
    width: 100%;
}

.div-form input[type="checkbox"] {
    display: inline;
    width: auto;
    margin-right: 0.5rem;
}


.div-form textarea {
    display: block;
    width: 100%;
    height: 4rem;
    overflow-y: auto;    
}

.div-form select {
    width: 100%;
}

.div-inline-options,
.div-inline-checks {
    display: flex;
}

.div-inline-options input,
.div-inline-checks input {
    display: inline;
    width: 2rem;
}

.div-inline-options label,
.div-inline-checks label {
    margin-right: 2rem;
}

.div-form input[type="radio"],
.div-form input[type="checkbox"] {
    width: 1rem;
    display: inline;
}

.form-table td {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Buttons*/

.div-array-buttons {
    display: flex;
    flex: wrap;
    padding: 1rem;
    margin:1rem;
}
/*
.btn-standard {
    background-color: var(--clr-buttons);
    color: var(--clr-light-background);

}
*/
.btn-menu {
    background-color: var(--clr-background);
    color: #000000;
    height: 2rem;
    padding: 1.5rem;
    /*margin: 0.2rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-menu:hover {
    background-color: var(--clr-side-menu);
    color: #ffffff;
}

.btn-menu p {

}

.btn-submit {
    background-color: var(--clr-buttons);
    color: #ffffff;
    padding: 1rem;
    /*display: inline-block;*/
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}